[user]
    name = Andrés Quilodrán
[github]
    user = oxfist
[color]
    ui = true
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log --pretty=format:"%C(red)%h%x09%C(yellow)%an%x09%C(green)%s" --abbrev-commit --branches=* --graph --decorate --all
    lol = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
    helper = cache --timeout=3600
[core]
    editor = nvim
    autocrlf = input
    whitespace = cr-at-eol
    excludesFile = ~/.gitignore
[commit]
    gpgsign = true
[tag]
    forceSignAnnotated = true
[cretendial]
    helper = cache
[init]
    defaultBranch = main
[gpg]
    program = gpg
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    line-numbers = true
