! Xft settings
Xft.dpi:                100
Xft.antialias:          1
Xft.rgba:               rgb
Xft.hinting:            1
Xft.hintstyle:          full

URxvt.termName:                 rxvt-256color
URxvt*depth:                    32
URxvt*buffered:                 false
URxvt*transparent:              true
URxvt*shading:                  20
URxvt*scrollBar_right:          false
URxvt*scrollBar:                false
URxvt*transpscrollbar:          true
URxvt*saveLines:                32767
URxvt*perl-lib:                 /usr/lib/urxvt/perl/
URxvt.letterSpace:              -0.5
URxvt.perl-ext-common:          default,tabbedex,selection-to-clipboard,font-size
URxvt.tabbed.autohide:          true
URxvt.tabbed.reopen-on-close:   no
URxvt.keysym.Control-t:         perl:tabbedex:new_tab
URxvt.keysym.Control-Tab:       perl:tabbedex:next_tab
URxvt.keysym.Control-minus:     perl:font-size:decrease
URxvt.keysym.Control-plus:      perl:font-size:increase
URxvt.font-size.step:           3
URxvt*loginShell:               true

URxvt*font:             xft:Monaco Nerd Font Mono:regular:size=12
URxvt*boldFont:         xft:Monaco Nerd Font Mono:bold:size=12
URxvt*italicFont:       xft:Monaco Nerd Font Mono:italic:size=12
URxvt*lineSpace:        1.5

URxvt*foreground:       #f2f2f2
URxvt*background:       #101010

URxvt.perl-ext:         default,matcher
URxvt.url-launcher:     /usr/bin/firefox
URxvt.matcher.button:   1

! Normal
! color0    black
! color1    red
! color2    green
! color3    yellow
! color4    blue
! color5    magenta
! color6    cyan
! color7    white

*color0:  #2E3436
*color1:  #df1a00
*color2:  #4E9006
*color3:  #C4A000
*color4:  #3465A0
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9

! Light
! color8    black
! color9    red
! color10    green
! color11    yellow
! color12    blue
! color13    magenta
! color14    cyan
! color15    white

*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC
