URxvt.termName:                 rxvt-256color
URxvt*depth:                    32
URxvt*buffered:                 false
URxvt*transparent:              true
URxvt*shading:                  20
URxvt*scrollBar_right:          false
URxvt*scrollBar:                false
URxvt*transpscrollbar:          true
URxvt*saveLines:                32767
URxvt*perl-lib:                 /usr/lib/urxvt/perl/
URxvt.letterSpace:              -1
URxvt.perl-ext-common:          default,tabbedex
URxvt.tabbed.autohide:          true
URxvt.tabbed.reopen-on-close:   yes
URxvt.keysym.Control-t:         perl:tabbedex:new_tab
URxvt.keysym.Control-Tab:       perl:tabbedex:next_tab

URxvt*font:             xft:Monaco:style=Book:pixelsize=14
URxvt*boldFont:         xft:Monaco:bold:pixelsize=14

URxvt*foreground:       #f2f2f2
URxvt*background:       #101010

URxvt.perl-ext:         default,matcher
URxvt.url-launcher:     /usr/bin/firefox
URxvt.matcher.button:   1

! Normal
! color0    black
! color1    red
! color2    green
! color3    yellow
! color4    blue
! color5    magenta
! color6    cyan
! color7    white

URxvt*color0:           #444444
URxvt*color1:           #df1a00
URxvt*color2:           #8fbe00
URxvt*color3:           #fafc90
URxvt*color4:           #a9cdeb
URxvt*color5:           #ab7eae
URxvt*color6:           #4a909f
URxvt*color7:           #c6cdcd

! Light
! color8    black
! color9    red
! color10    green
! color11    yellow
! color12    blue
! color13    magenta
! color14    cyan
! color15    white

URxvt*color8:           #1f1f1f
URxvt*color9:           #d85240
URxvt*color10:          #aee239
URxvt*color11:          #fffb00
URxvt*color12:          #b6defb
URxvt*color13:          #edcdef
URxvt*color14:          #00ffff
URxvt*color15:          #eeeeee

! Xft settings
Xft.dpi:                96
Xft.antialias:          true
Xft.rgba:               rgb
Xft.hinting:            true
Xft.hintstyle:          hintslight
